In [7]:
import pandas as pd

# Working with JSON

In [2]:
df = pd.read_json('train.json')
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

# Working with API's

In [4]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.0404
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.6890
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.8980
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,4.1400
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,2.6200
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.1770
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.2070
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.2810
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-21,1771632002,0.2810

# Working with SQL File

In [1]:
!pip install mysql.connector
!pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql.connector in c:\users\kiit0001\anaconda3\lib\site-packages (2.2.9)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Downloading mysql_connector_python-9.6.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 6.7 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/16.5 MB 5.6 MB/s eta 0:00:03
   ------- -------------------------------- 3.1/16.5 MB 5.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.9/16.5 MB 5.0 MB/s eta 0:00:03
   --------- ------------------------------ 3.9/16.5 MB 5.0 MB/s eta 0:00:03
   ------------- -------------------------- 5.5/16.5 MB 4.5 MB/s eta 0:00:03
   --------------- ------------------------ 6.6/16.5 MB 4.6 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 5.2 MB/s eta 0:00:02
   ------------------------- -------------- 10.5/16.5 MB 5.8 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------- ----- 14.4/16.5 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 6.6 MB/s  0:00:02
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(host="localhost", port=3306, user="root", password="Adihimi#09", database="pizzahut")

In [9]:
pd.read_sql_query("SELECT * FROM orders",conn)

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_15600\2392049419.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM orders",conn)

       order_id  order_date      order_time
0             1  2015-01-01 0 days 11:38:36
1             2  2015-01-01 0 days 11:57:40
2             3  2015-01-01 0 days 12:12:28
3             4  2015-01-01 0 days 12:16:31
4             5  2015-01-01 0 days 12:21:30
...         ...         ...             ...
21345     21346  2015-12-31 0 days 20:51:07
21346     21347  2015-12-31 0 days 21:14:37
21347     21348  2015-12-31 0 days 21:23:10
21348     21349  2015-12-31 0 days 22:09:54
21349     21350  2015-12-31 0 days 23:02:05

[21350 rows x 3 columns]